{% extends 'base.html' %}

{% block content %}
<div class="container py-5" style="background-color: #f0f0f0; border-radius: 8px;">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for persona in dbzjson['items'] %}
        <div class="col">
            <div class="card h-100">
                <!-- Use card-img-top, control image size, and align image to the top -->
                <img src="{{ persona['image'] }}" alt="{{ persona['name'] }}" class="card-img-top" style="object-fit: cover; height: 250px; object-position: top;">
                <div class="card-body">
                    <h5 class="card-title">{{ persona['name'] }}</h5>
                    <p class="card-text">Raça: {{ persona['race'] }}</p>
                    <p class="card-text">Afiliação: {{ persona['affiliation'] }}</p>
                    <a href="{{ url_for('apidbz', id=persona['id']) }}" class="btn btn-dark">+ Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
