{% extends 'base.html' %}

{% block content %}


<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <a href="{{url_for('apidbz')}}" class="btn mb-4" style="background-color: #580000; color: white;">
                <i class="fas fa-arrow-left"></i> Todos os personagens
            </a>

            <div class="card shadow-sm">
                <img src="{{p_info.image}}" class="card-img-top character-image" alt="{{p_info.name}}">
                <div class="card-body">
                    <h2 class="text-dragon text-center mb-4">{{p_info.name}}</h2>
                    
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Informações Básicas</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Raça:</strong> {{p_info.name}}</li>
                                        <li class="list-group-item"><strong>Ki:</strong> {{p_info.ki}}</li>
                                        <li class="list-group-item"><strong>Gênero:</strong> {{p_info.gender}}</li>
                                        <li class="list-group-item"><strong>Afiliação:</strong> {{p_info.affiliation}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Descrição</h5>
                                    <p class="card-text">{{p_info.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
