{% extends 'base.html' %} {% block content %}

<div class="container" style="background-color: #f0f0f0; border-radius: 8px">
  <div class="row">
    <div class="col-md-6 m-auto">
      <a href="{{url_for('apidbz')}}" class="btn btn-dark">
        << Todos os jogos</a
      ><br /><br />
      <div class="card">
        <img src="{{p_info.image}}" alt="{{p_info.name}}" />
        <div class="card-body m-auto">
          <h3>{{p_info.name}}</h3>
          <p>Raça: {{p_info.name}}</p>
          <p>Ki: {{p_info.ki}}</p>
          <p>Gênero: {{p_info.gender}}</p>
          <p>Afiliação: {{p_info.affiliation}}</p>
          <p>Descrição: {{p_info.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
